/* CSS declarations go here */
body, h1 {
    margin:0;
    padding:0;
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.white {
    text-decoration: none;
    color:white;
    background-color: black;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 5vw;
}

input, textarea, select {
    outline:none;
    text-align: center;
    opacity: 0.4;
    border-bottom: 5px solid black;
    width: 100%;
    height: 20%;
    text-align: center;
    vertical-align: center;
    font-size: 10vw;
}

select {
    font-size: 5vw;
}

html, body {
    height: 100%; /*Needed to get container fill whole page*/
}

#list {
    height: 20px;
    weight: 100%;
    text-align: center;
    background-color: lightgrey;
}

.navbar {
    border-radius: 0px;
}

.container {
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    width: 100%;
    height: 100%;
    overflow:scroll;
}

.tallBox {
    background-image: linear-gradient(to top, #FFE924, #E89A0C 15%);
    /*background-image: linear-gradient(to top, #A186E8, #E89A0C 15%);*/
    border-radius: 10px;
    /*color: darkgrey;*/
    height: 25%;
    text-align: center;
    vertical-align: center;
    margin:auto;
    font-size: 10vw;
}

.space {
    width:100%;
    height:50px;
}
