/* CSS declarations go here */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

html, body {
    height: 100%; /*Needed to get container fill whole page*/
}

.navbar {
    border-radius: 0px;
}

.container {
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    width: 100%;
    height: 100%;
}

.tallBox {
    background-image: linear-gradient(to top, #FFE924, #E89A0C 15%);
    /*background-image: linear-gradient(to top, #A186E8, #E89A0C 15%);*/
    border-radius: 10px;
    /*color: darkgrey;*/
    margin:auto;
    height: 25%;
    text-align: center;
    margin:auto;
    font-size: 10vw;
}
