<template name="home">
    <div id="home">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 tallBox" style="cursor: pointer;" onclick="window.location='lost'">Lost</div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 tallBox" style="cursor: pointer;" onclick="window.location='found'">Found</div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</template>
