<template name="layout">
  <div class="container">
    <header>
      {{> nav }}
    </header>
    {{> yield}}
  </div>
</template>


<template name='nav'>
    <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pages">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">WPI Lost and Found</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="pages">
              <ul class="nav navbar-nav">
                  {{> navItems}}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
    {{> loginButtons}}
</template>
        <!-- {{> navBrand}} -->

<template name="navBrand">
  <a class="navbar-brand" href="/">Home</a>
</template>

<template name='navItems'>
    <li><a href="/">Home</a></li>
    <li><a href="lost">Lost</a></li>
    <li><a href="found">Found</a></li>
  <!-- <li class="{{ isActive 'lost' }}">
    <a href="/lost">Lost</a>
  </li>
  <li class="{{ isActive 'found' }}">
    <a href="/found">Found</a>
  </li> -->
</template>
